$color_black: #000;
$color_light_gray: #ebebeb;
$color_dark_gray: #333;
$color_blue: #0070f3;

$foreground_light_theme: #171717;
$background_light_theme: #ffffff;

$background_dark_theme: #0a0a0a;
$foreground_dark_theme: #ededed;

// Product page
$primary-color: #3498db;
$secondary-color: #2c3e50;
$border-radius: 8px;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
$transition: all 0.3s ease;
