$color_black: #000;
$color_white: #fff;
$color_light_gray: #ebebeb;
$color_dark_gray: #333;
$color_blue: #0070f3;
$color_red: #ff0000;

$foreground_light_theme: #171717;

$background_dark_theme: #0a0a0a;
$foreground_dark_theme: #ededed;

// Product page
$primary_color: #3498db;
$secondary_color: #2c3e50;
$border_radius: 8px;
$box_shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
$box_shadow_hover: 0 8px 15px rgba(0, 0, 0, 0.1);
$transition: all 0.3s ease;
